html {
  font-size: 14px;
}
.nav-item:hover {
    background-color: orange;
    border-radius: 8px;
    font-size: 17px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.btn:focus,
.btn:active,
.btn:focus:active,
.form-control:focus,
.form-control:active,
.form-control:focus:active {
    outline: none !important;
    box-shadow: none !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #F7F7FF !important;
}
.table td {
    vertical-align: middle;
}
